@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eafbff;
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  padding: 20px;
  width: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  transition: width 0.5s linear;
}

nav.active {
  width: 350px;
}

nav ul {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 0;
  padding: 0;
  margin: 0;

  transition: width 0.5s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  opacity: 0;

  /* transform: rotateY(0deg); */
  transition: all 0.2s linear;
}

nav.active ul li {
  opacity: 1;
  transition-delay: 0.3s;
  /* transform: rotateY(360deg); */
}

nav ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  position: relative;

  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  position: absolute;
  top: 10px;
  left: 2px;

  background-color: #5290f9;
  height: 2px;
  width: 20px;

  transition: transform 0.5s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
