@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
}

.bg {
  background-image: url('https://images8.alphacoders.com/926/926492.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;

  filter: blur(30px);

  position: absolute;

  z-index: -1;
}

.loading-text {
  text-align: center;
  font-size: 50px;
  color: white;
}
